<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация пользователя</title>
</head>

<body>
    <h1>Регистрация пользователя</h1>
    <form action="/register" method="POST"> 
        <label>Имя</label>
        <input name="firstName" required /><br><br>

        <label>Фамилия</label>
        <input name="lastName" required /><br><br>

        <label>Логин</label>
        <input name="username" required /><br><br>

        <label>Пароль</label>
        <input name="password" type="password" required /><br><br>

        <label>Роль</label>
        <select name="role" required>
            <option value="student">Студент</option>
            <option value="teacher">Преподаватель</option>
        </select><br><br>

        <input type="submit" value="Зарегистрироваться" />
    </form>
</body>

</html>